h2{
    color: antiquewhite;
}

.fractaltree {
    z-index: 5;
    right: 0vw;
}


.raindrop {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(81, 137, 200));
    width: 1px;
    height: 6vh;
    z-index: -1;
    position: absolute;
    animation: drop 1s linear infinite;
}
@keyframes drop {
    0% {
      transform: translateY(-10vh);
      opacity: 0;
    }
    5% {
        opacity: 1;
      }
    95% {
        opacity: 1;
    }
    100% {
      transform: translateY(100vh);
      opacity: 0;
    }
  }


